<div class="kcell CopyslFbox0idd24cb8494c45" style="position: absolute; z-index: 1; opacity: 1;
                        overflow: visible; box-shadow: none; border: 0px !important; background: transparent !important;
                        width: 95%; height: 35%; left: 2.5%; top: 55px;">

    <div id="flexcontainer_wrapper" class=" " style="width: 100%; height: 100%;">

        <div class="kwt100  CopyslFbox0idd24cb8494c45 " id="frmHome_flxLineChart"
             kwidgettype="FlexContainer" kformname="frmHome" style="position: relative;
                                     overflow: visible; height: 100%;">

            <div id="pyramid-chart" style="height: 100%">
                <div id="pyramidDiv" style="height: 80%; "></div>
                <div id="pyramidSliderDiv" style="width: 80%; height: 10%; left: 2.5%; top: 10%; margin:auto"></div>
            </div>
        </div>
    </div>
</div>

<div class="kcell CopyslFbox0idd24cb8494c45" style="position: absolute; z-index: 1; opacity: 1;
                        overflow: visible; box-shadow: none; border: 0px !important; background: transparent !important;
                        width: 95%; height: 40%; left: 2.5%; top: 35%; margin-top: 55px">

    <div id="flexcontainer_wrapper" class=" " style="width: 100%; height: 100%;">

        <div class="kwt100  CopyslFbox0idd24cb8494c45 " id="frmHome_flxLineChart"
             kwidgettype="FlexContainer" kformname="frmHome" style="position: relative;
                                     overflow: visible; height: 100%;">

            <div  id="world-map" style="height: 100%">
                <div class="content-text">
                    Choose a country from here:
                </div>
                <div id="choroplethDiv" class ="genderRatio"></div>
                <div id="Choropleth_Year_Slider" style="width: 80%; height: 10%; left: 2.5%; top: 10%; margin:auto"></div>
                <div id="Choropleth_Age_Slider"style="width: 80%; height: 10%; left: 2.5%; top: 10%; margin:auto"></div>
            </div>
        </div>
    </div>
</div>

<!-- Notes -->
<div class="kcell CopyslFbox0g7e63a02829f45" style="position: absolute; z-index: 1; opacity: 1;
                        overflow: visible; box-shadow: none; border: 0px !important; background: transparent !important;
                        width: 95%; height: 10%; left: 2.5%; top: 75%; margin-top: 55px">
    <div id="flexcontainer_wrapper" class=" " style="width: 100%; height: 100%;">
        <div class="kwt100  CopyslFbox0g7e63a02829f45 " id="frmHome_flxChoropleth"
             kwidgettype="FlexContainer" kformname="frmHome" style="position: relative;
                                     overflow: visible; height: 100%;">
            <div  id="homeNotes" style="height: 100%">
                <div class="content-text">Notes:</div>
                <ul class="notes-text" style="margin-top: 1%;">
                    <li>You can use slider to change the year of bar charts.</li>
                    <li>You can hover over a bar to see population count.</li>
                    <li>You can hover over the bars up and down to see which population is larger for a particular age.</li>
                    <li>You can use slider below choropleth to change year as well as age to see distribution of corresponding sex ratios all over the world.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
